.App{
  position: relative;
  margin: 0;
  padding: 0;
}
  
header{
  border-bottom: 3px solid #DCDCDC;
}

.servicerequest{
  border-bottom: 4px solid #DCDCDC;
  margin: 5px;
  padding: 10px;
  position: relative;
}

.username{
  border-left: 1px solid #DCDCDC;
  margin: 5px;
}

table{
  margin: 20px;
}

th{
  border-bottom: 1px solid gray;
  margin: 20px;
}

td{
  border-bottom: 2px solid #DCDCDC;
}

th, td {
  padding-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter{
background-color: #C8C8C8;
height: 100vh;
padding-left: 15%; 
padding-top: 10%;
}

label{
  font-size: 15px;
}

 .modalForm{
   position: absolute;
   text-align: left;
   z-index: 80;
   background-color: white;
   border: 3px solid #C8C8C8; 
   width: 20%;
   padding: 20px;
   height: 80vh;
   right: 0;
   top: 0; 
 }

 .main{ 
   position: relative;
   z-index: 10;
 }

 .large{
   font-size: 25px;
   padding-right: 5px;
 }

 .btnSendCancel{
  margin-left: 10px;
  margin-top: 40%;
 }

 .p{
  margin-bottom: 20%;
 }
